.banner_sobre{
  width: 100%;
  height: 60vh;
  background-image: url('/banner-topo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.banner_sobre h1{
  color: #ffffff;
  text-shadow: 3px 5px 2px #474747;
  font-size: clamp(3rem, 5vw + 1rem, 6.25em);
  align-content: center;
}

.container_sobre{
    width: 100%;

}
.texto_sobre{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1024px;
    padding: 100px 20px;
    margin: 40px auto;
}

.texto_sobre h2{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    
}

.texto_sobre span{
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}

.texto_sobre p{
  font-size: 1.1rem;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word; 
  line-height: 1.6;

}
.container_imagens {
  display: flex;

  justify-content: center;
  align-items: center;
}

.box_imagem {
  flex: 1;
  max-width: 50%;
  aspect-ratio: 4 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1400px) {
  .banner_sobre{
  height: 45vh;
}
}
@media screen and (max-width: 1200px) {
  .banner_sobre{
  height: 40vh;
}
}
@media screen and (max-width: 768px) {
    .banner_sobre{
  height: 35vh;
}
}

@media screen and (max-width: 468px) {
  .banner_sobre{
  height: 30vh;
}
}