.container_sobre{
    width: 100%;
    background-color: var(--section-bg-color);
}
.texto_sobre{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}
.texto_sobre h2{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}
.texto_sobre span{
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
}
.texto_sobre p{
  font-size: 1.1rem;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word; 
  line-height: 1.6;
}
.container_imagens {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box_imagem {
  flex: 1;
  max-width: 50%;
  aspect-ratio: 4 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagem {
  object-fit: cover;
  width: 100%;
  height: 100%;
}