.container_topo {
  width: 100%;
  height: var(--header-height);
  background: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 10;
  border-bottom: 2px solid #61c102;
}

.container_topo img {
  width: 200px;
  height: auto;
  display: block;
  object-fit: contain;
}

.menu_links{
  display: flex;
  list-style: none;
  gap: 20px;
}
.menu_links a { 
  text-decoration: none; 
  color: #ffffff; 
  font-weight: 600; 
  font-size: 1.1rem; 
  transition: color 0.2s; 
} 
.menu_links a:hover { 
  color: #7CFC00; 
}

/* Botão hamburguer */
.menu_button {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #7cfc00;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  font-size: 1rem;
  font-weight: bold;
  color: #222222;
  cursor: pointer;
  transition: background 0.3s ease;
}

.menu_button:hover {
  background: #7cfc00;
}

.menu_button .icon {
  font-size: 1.4rem;
  line-height: 1;
}

/* ===== Mobile ===== */
@media (max-width: 768px) {
.menu_links {
  position: fixed;
  top: 0;
  right: -250px;
  height: 100%; /* ocupa toda a tela */
  width: 250px;
  background: #2e2e2e;
  display: flex; /* importante */
  flex-direction: column; /* itens em coluna */
  justify-content: space-between; /* separa menu e ícones */
  padding: 20px;
  list-style: none;
  transition: all 0.3s ease;
  z-index: 999;
}


  .menu_links.ativo {
    right: 0;
  }

  .sidebar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .menu_title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }

  .close_button {
    background: none;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }

  .menu_links a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
  }

  .social_links {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .social_links a {
    color: #7cfc00;
    font-size: 1.5rem;
    transition: color 0.2s;
  }

  .social_links a:hover {
    color: #fff;
  }
}

/* ===== Desktop ===== */
@media (min-width: 769px) {
  .menu_links {
    position: static;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    opacity: 1;
    transform: none;
    background: none;
    width: auto;
    padding: 0;
  }

  .menu_links.ativo {
    transform: none;
  }

  .social_links {
    display: none;
  }

  .menu_button {
    display: none;
  }
}
