.fundo {
  width: 100%;
  min-height: 100vh;
  background: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px 40px 20px;
}

.home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

.image_banner img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.banner_titulo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.banner_titulo h1,
.banner_titulo p {
  color: #ffffff;
  text-align: left;
}

.banner_titulo h1 {
  font-size: clamp(1rem, 2vw + 0.5rem, 1rem);
  font-weight: 200;
}

.banner_titulo span {
  font-size: clamp(2rem, 2vw + 0.5rem, 3em);
  font-weight: 700;
}

.banner_titulo p {
  font-size: clamp(1rem, 2vw + 0.5rem, 1rem);
  font-weight: 200;
}

.saiba_mais {
  width: 230px;
  max-width: 100%;
  min-width: 180px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #7CFC00;
  color: #222222;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  margin-top: 20px;
}

.redes_sociais {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

@media screen and (max-width: 1400px) {
  .fundo {
    align-items: flex-start;
    padding-top: 200px;
    min-height: fit-content;
  }
}
@media screen and (max-width: 1200px) {
  .fundo {
    align-items: flex-start;
    padding-top: 200px;
    min-height: fit-content;
  }
  .home{
    display: flex;
    flex-direction: column;
  }
  
  .banner_titulo h1,
  .banner_titulo p {
    text-align: center;
  }
    .saiba_mais {
    margin: 20px auto 0;
    display: block;
    font-size: 0.9rem;
    padding: 8px 12px;
  }
   .redes_sociais {
    justify-content: center;
  }

    .image_banner img {
    max-width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .fundo {
    align-items: flex-start;
    padding: 180px 20px 60px 20px;
  }

  .home {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0px;
  }

  .banner_titulo h1,
  .banner_titulo p {
    text-align: center;
  }

  .saiba_mais {
    margin: 20px auto 0;
    display: block;
    font-size: 0.9rem;
    padding: 8px 12px;
  }

  .redes_sociais {
    justify-content: center;
  }

  .image_banner img {
    max-width: 60%;
  }
}

@media screen and (max-width: 468px) {
  .fundo {
    align-items: flex-start;
    padding: 160px 20px 60px 20px;
  }
}